
# Ignorer tous les fichiers de compilation

/home/damien/Workspace/synthese_vhdl/Syntese_vhdl/build
/home/damien/Workspace/synthese_vhdl/Syntese_vhdl/nbproject
/home/damien/Workspace/synthese_vhdl/Syntese_vhdl/dist
